
body { 
    background-image: url('img/bg.jpg');
}
.card { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 700px;
    margin: 100px auto;
    background-color: saddlebrown;
}

.card__inner {
    margin: 0 auto;
}

.card__icons, .years__info {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}