.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {
    margin-bottom: 20px;
}

.quiz-questions-item {

}

.quiz-questions-item_question {
    margin-bottom: 20px;
font-size: 40px;
}

.quiz-questions-item_answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-next {

}

.btn-restart {

}

.quiz-results {

}
.questions--hidden{

}
.questions--hidden{

}
.questions--visible{

}
.btn-next--hidden{

}
.btn-restart--visible{
    display: block;
}



.quiz-results-item {

}